#hello {
  width:100px;
  height: 100px;
  background-color:green;
  position: absolute;
  top:100px;
  left:50%;
  transform:rotate(200deg) scale(2) translate(-50% -50%); 
  animation-name: grow;
  animation-duration: 10s;

  }
  @keyframes slideLeft{
    from{transform:translate(100%)}
  }
  @keyframes rotateRight{
    50%{transform:rotate(360deg)}
  }
  @keyframes grow{
    0%{background-color:green;}
    20%{background-color:blue;}
    40%{background-color:lightblue;}
    70%{background-color:white;}
    80%{background-color:orange;}
    90%{background-color:black;}
  }
  
  
  
  
  
  
