body {
background-image: url("green-poker-background-260nw-82981525.jpg");
background-size:cover;
  font-family:trebuchet;
  font-weight:bold;
}
h1 {
  color:gold;
  text-align:center;
}
p {
  text-align:center;
  color:white;
}
button {
  width:150px;
  background-color:goldenrod;
  color:#016f32;
  display:block;
  margin:auto;
  border:none;
  font-weight:bold;
  padding-bottom:5px;
  padding-top:5px;
}
.new {
  margin-top:10px;
}
